@import "variables";

$primary: $brand-primary;
@import "~bootstrap/scss/bootstrap";
@import '~lato-font/css/lato-font.min.css';

body {
  font-size: 0.85rem;
}

#main {
  background: linear-gradient(#fff, $gray-200);
}

form.login-form .password-group {
  margin-top: 1.5rem !important;
}

#header {
  .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
  }
}

#register-form {
  .input-group.birthday .form-group {
    margin-bottom: 0;
  }

  form[name=register_form] .form-check:first-child {
    padding-left: 0;
  }
}
