@import "variables";
$primary: $brand-primary;
@import "~bootstrap/scss/bootstrap";
@import '~lato-font/css/lato-font.min.css';

#main{
  background: linear-gradient(#fff, $gray-200);
}
#home {
  #main {
    background: url('../images/background.jpg') no-repeat;
    background-size: 100%;
  }
}

#header{
  .navbar-brand{
    font-size: 2rem;
    font-weight: 700;
  }
}
