{% extends 'base.html.twig' %}

{% block page_id 'login' %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6 pt-5 pb-5">
                <div id="login-form" class="card border-light p-3">
                    {{ include(form_path) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
