{% extends 'base.html.twig' %}

{% block page_id 'privacy' %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-8 pt-5 pb-5">
                <h2 class="text-center">Privacy Policy</h2>
                <h5>1. Introduction</h5>
                <p>
                    Welcome to Cottect!
                </p>
                <p>
                    As part of our mission to help make commerce better for everyone, Cottect Inc. and its affiliates,
                    including Cottect Data Processing (USA) Inc., Cottect Payments (USA) Inc., Cottect (USA) Inc.,
                    Cottect Commerce Singapore Pte. Ltd., and Cottect International Limited (collectively, “Cottect”)
                    collect and process a lot of information. This Privacy Policy is intended to help you better
                    understand how we collect, use and store your personal information—whether you are a merchant or end
                    user that uses Cottect’s products, applications or services (together, the “Services”), a customer
                    that shops at a store using our technology, a customer that has opted into Cottect Pay, a
                    participant in Cottect’s “Partners” program, or whether you’re simply visiting this website. By
                    using any of Cottect’s Services, or by dealing with a merchant using Cottect’s Services, you are
                    agreeing to the terms of this Privacy Policy and, as applicable, the Cottect Terms of Service.
                </p>
                <p>
                    We may update this Privacy Policy from time to time in order to reflect, for example, changes to our
                    privacy practices or for other operational, legal, or regulatory reasons. If we make material
                    changes to this Privacy Policy, we will give you notice of such changes by posting the revised
                    policy on this Website, and where appropriate, by other means. By continuing to use this Website or
                    the Support Service after these changes are posted, you agree to the revised policy.
                </p>
                <h5>2. Information from merchants</h5>
                <p>
                    Privacy matters! If you are a merchant, your customers need to understand how you (and how Cottect)
                    collects and processes their personal information as the data controller. Accordingly, if you use
                    the Services, you agree to post an up-to-date and accurate privacy policy on your storefront that
                    complies with the laws applicable to your business. You also agree to obtain consent from your
                    customers for the use and access of their personal information by Cottect and other third parties.
                    In addition, if you are collecting any sensitive personal information from your customers (including
                    information relating to medical or health conditions, racial or ethnic origin, political opinions,
                    religious or philosophical beliefs, trade union membership or sexuality), you agree to obtain
                    affirmative, express consent from your customers for the use and access of sensitive personal
                    information by Cottect and other third parties. To help you get started on creating your own privacy
                    policy, you can check out our privacy policy generator.
                </p>
                <h5>3. Information from customers</h5>
                <h6>What information do we collect from our merchants’ customers and why?</h6>
                <ul>
                    <li>
                        We collect our merchants’ customers’ name, email, shipping and billing address, payment details,
                        company name, phone number, IP address, information about orders you initiate, information about
                        the Cottect-supported merchant stores that you visit, and information about the device and
                        browser you use.
                        <ul>
                            <li>
                                We use this information to provide our merchants with the Services, including supporting
                                and processing orders, risk and fraud screening, authentication, and payments. We also
                                use this information to improve our Services.
                            </li>
                            <li>
                                If you opt into Cottect Pay, we store and use this information to pre-fill your checkout
                                information. We additionally use this information to help customize and improve your
                                experience when you visit a merchant store by presenting to you goods and service that
                                are more likely to be of interest to you.
                            </li>
                        </ul>
                    </li>
                    <li>
                        We use some of the personal information you provide us to conduct some level of automated
                        decision-making -- for example, we use certain personal information (for example, IP addresses
                        or payment information) to automatically block certain potentially fraudulent transactions for a
                        short period of time.
                    </li>
                </ul>
                <h6>When do we collect this information?</h6>
                <ul>
                    <li>
                        We collect this information when you use or access a store that uses our Services, such as when
                        you visit a merchant’s site, place an order or sign up for an account on a merchant’s site.
                    </li>
                    <li>
                        We also collect this information when you opt into Cottect Pay, or use Cottect Pay to pre-fill
                        your checkout information.
                    </li>
                    <li>
                        Additionally, we partner with third parties who provide us information about our merchants’
                        customers, for example to help us screen out merchants associated with fraud.
                    </li>
                </ul>
                <h6>
                    When and why do we share this information with third parties?
                </h6>
                <ul>
                    <li>
                        Cottect works with a variety of third parties and service providers to help provide our
                        merchants with the Services and we may share personal information with them to support these
                        efforts.
                    </li>
                    <li>
                        We may also share your information in the following circumstances:
                        <ul>
                            <li>To prevent, investigate, or take action regarding illegal activities, suspected fraud,
                                situations involving potential threats to the physical safety of any person, violations
                                of our Terms of Service or any other agreement related to the Services, or as otherwise
                                required by law.
                            </li>
                            <li>If the merchant whose store you visit or access directs us to transfer this information
                                (for example, if they enable a third party app that accesses customer personal
                                information).
                            </li>
                            <li>To conform to legal requirements, or to respond to lawful court orders, subpoenas,
                                warrants, or other requests by public authorities (including to meet national security
                                or law enforcement requirements).
                            </li>
                        </ul>
                    </li>
                    <li>
                        Personal information may also be shared with a company that acquires our business or the
                        business of a merchant whose store you visit or access, whether through merger, acquisition,
                        bankruptcy, dissolution, reorganization, or other similar transaction or proceeding.
                    </li>
                    <li>
                        Cottect is responsible for all onward transfers of personal information to third parties in
                        accordance with the EU-U.S. Privacy Shield Framework, the Swiss-U.S. Privacy Shield Framework,
                        and Canada’s Personal Information Protection and Electronic Documents Act (PIPEDA).
                    </li>
                </ul>
                <h5>4. Information from partners</h5>
                <p>Partners are individuals or businesses that have agreed to the terms of the Cottect Partner Program
                    to work with Cottect to promote the Services by (a) referring clients to Cottect; (b)developing
                    Cottect store themes for merchant use; or (c) developing apps using the Cottect Application
                    Interface (API) for merchant use.</p>
                <h6>What information do we collect from partners and why?</h6>
                <ul>
                    <li>We collect your name, company name, website, twitter or other social media handles, phone
                        number(s), address, business type, email address, PayPal Account, and GST/HST number.
                        <ul>
                            <li>We use this information to work with you, confirm your identity, contact you, pay you
                                and to screen for risk, fraud, or other similar types of issues.
                            </li>
                        </ul>
                    </li>
                    <li>
                        We collect data about the Cottect websites that you visit. We also collect data about how and
                        when you access your account and the Cottect platform, including information about the device
                        and browser you use, your network connection, your IP address, and information about how you
                        browse through the Cottect interface.
                        <ul>
                            <li>We use this information to give you access to and improve our Services; for example, to
                                make our platform interface easier to use. We also use this information to personalize
                                the Services for you; for example, by shifting the order of apps in the Cottect app
                                store to show you apps we believe may be of interest to you.
                            </li>
                        </ul>
                    </li>
                    <li>
                        We collect personal information about your customers that you share with us or that they provide
                        to us directly.
                        <ul>
                            <li>We use this information to work with you and to provide our Services to your customers.
                            </li>
                        </ul>
                    </li>
                    <li>We will also use personal information in other cases where you have given us express
                        permission.
                    </li>
                </ul>
                <h6>When do we collect this information?</h6>
                <ul>
                    <li>We collect this information when you sign up for a partner account, when you sign up one of your
                        customers for our Services, or when your customers sign up themselves. We also collect any
                        additional information that you might provide to us.
                    </li>
                </ul>
                <hr>
                <p>Last updated: August 25, 2019</p>
                <p>© 2019 Cottect Inc.</p>
            </div>
        </div>
    </div>
{% endblock %}
