{% extends 'base.html.twig' %}

{% block page_id 'register' %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6 pt-5 pb-5">
                {% include '_form/_register.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
